@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --light-background-color: #F4F6FA;
  --light-primary-text-color: #313E51;
  --light-secondary-text-color: #626C7F;

  --dark-bacground-color: #313E51;

  --primary-color: #A729F5;
  --true-color: #26D782;
  --false-color: #EE5454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
  background-color: var(--light-background-color);
}

header {
  padding: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.sun-icon, .moon-icon {
  height: 1.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
}

.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A729F5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A729F5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(1rem);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}


.container {
  margin: 2rem;
}

.title-section {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--light-primary-text-color);
  font-size: 2.5rem;
}

span {
  font-weight: 300;
}

p {
  color: var(--light-secondary-text-color);
  margin-top: 1rem;
  font-weight: 400;
  font-style: italic;
}

.chapter-section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

button {
  color: var(--light-primary-text-color);
  font-size: 18px;
  color: #313E51;
  background-color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border: none;
  cursor: pointer;
}

.chapter-section img, .icons {
  height: 3rem;
  border-radius: 10px;
}

.header-game {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-game {
  color: var(--light-primary-text-color);
  font-size: 1.3rem;
  font-weight: 500;
}

main {
  padding: 0 2rem;
}

.question {
  color: var(--light-primary-text-color);
  font-weight: 500;
  margin: 1rem 0;
}

.line {
  width: 100%;
  height: 1.3rem;
  background-color: white;
  border-radius: 50px;
}

.line2 {
  width: 35%;
  height: 0.7rem;
  margin: 0 0.5rem;
  background-color: #A729F5;
  border-radius: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.inputs {
  color: var(--light-primary-text-color);
  font-size: 18px;
  color: #313E51;
  background-color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border: none;
  cursor: pointer;
  border: 3px solid white;
}

input {
  display: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h3 {
  background-color: #F4F6FA;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #626C7F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  border-color: #A729F5;
  color: black;
}

.selected h3 {
  background-color: #A729F5;
  color: white;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A729F5;
  color: white;
  border: none;
}

input[type=submit] {
  color: white !important;
  font-size: 18px;
  color: #313E51;
  background-color: #A729F5;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border: none;
  cursor: pointer;
  width: 100%;
}